.m-bread-crumb {
  &__bread{
    padding-left: 0;
  }

  &__title-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  &__title{
    margin: 1rem 0 1rem 0;
  }
}

$color_1: #2C2A29;
$font-family_1: "Open Sans";
$font-family_2: "Open Sans Bold";
$font-family_3: "Open Sans SemiBold";

nav.bc-breadcrumb {
	ol {
		padding: 5px 0px;
		list-style: none;
		li {
			display: inline;
			a {
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				letter-spacing: 0;
				text-decoration: none;
				&:hover {
					color: $color_1;
					font-family: $font-family_2;
					font-weight: 700;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: 0;
					text-decoration: underline;
				}
			}
			&:last-child {
				a[aria-current] {
					color: $color_1;
					font-family: $font-family_3;
					font-weight: 600;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: 0;
				}
			}
		}
		li+li {
			&:before {
				padding: 8px 10px 8px 5px;
				color: $color_1;
				content: "›";
				font-weight: 400;
				font-size: 20px;
			}
		}
	}
	ul {
		padding: 10px 16px;
		list-style: none;
		li {
			display: inline;
			a {
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				letter-spacing: 0;
				text-decoration: none;
				&:hover {
					color: $color_1;
					font-family: $font-family_2;
					font-weight: 700;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: 0;
					text-decoration: underline;
				}
			}
			&:last-child {
				a[aria-current] {
					color: $color_1;
					font-family: $font-family_3;
					font-weight: 600;
					font-size: 14px;
					line-height: 22px;
					letter-spacing: 0;
				}
			}
		}
		li+li {
			&:before {
				padding: 8px 10px 8px 5px;
				color: $color_1;
				content: "›";
				font-weight: 400;
				font-size: 20px;
			}
		}
	}
}
