.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.system-font {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.container-footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  padding: 20px 0px;
  border-radius: 34px 34px 0 0;
}

.font-color-text-suboptions {
  color: #ababab;
  font-family: sans-serif;
}
