video { 
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

h1{
    margin-top: 12%;
    text-align: center;
}