<nav class="mainNav" style=" box-shadow: 0px -1px 14px 0px #000000;">
   <div class="mainNav__logo" style="display: flex; cursor: pointer;">
      <img src="../../../../../../assets/images/logo_coffe.png" alt="Logo Café con Leche"  style="width: 54px; height: 54px;"/>
      <span style="margin-top: 20px; margin-left: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Café <span style="color :#eba240">con</span> canela</span>
   </div>
   <div class="mainNav__links" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      <a href="sp/about" class="mainNav__link">Nosotros</a>
      <a href="sp/products" class="mainNav__link">Productos</a>
      <a href="sp/blog" class="mainNav__link">Blog</a>
      <a href="sp/contact" class="mainNav__link">Contactos</a>
   </div>
</nav>